@import '../../Style/app_module.scss';

.Skill {
	background-color: $ghost-white;
	.container {
		width: 130rem;
		margin: 0 auto;

		.skill_header {
			margin-top: 10rem;
			@include flex();
			justify-content: space-between;
			@include tagBanner();
		}

		.skill_box {
			margin-top: 1rem;
			@include flex();
			justify-content: space-between;

			.skill_text {
				h3 {
					font-size: 2rem;
					font-family: $Poppins;
					margin: 2rem 0;
					padding: 2rem 3rem;
					text-align: center;
					background-color: $han-purple;
					border-radius: 1rem;
					color: #fff;
				}
			}

			.skill_per {
				div {
					@include flex();
					.per {
						@include flex();
						justify-content: flex-start;
						width: 100rem;
						height: 1rem;
						margin: 4rem;
						border-radius: 1rem;
						background-color: $light-gray;

						div {
							width: 9rem;
							height: 100%;
							background-color: #2ecc71;
							border-radius: 1rem;
							transition: all 1s ease-in-out;
						}
					}

					p {
						font-size: 1.5rem;
					}
				}
			}
		}
	}
}
