@import './app_module.scss';

.Header {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 9999;
	transition: all 0.2s ease-in-out;

	&.active {
		background-color: $cultured;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		.container {
			div > h1 {
				color: #000;
			}
			ul > li {
				color: #000;
			}
		}
	}

	.container {
		width: 130rem;
		height: 10rem;
		margin: 0 auto;
		@include flex();
		justify-content: space-between;

		div > h1 {
			font-size: 3rem;
			font-family: $Poppins;
			color: #fff;
			cursor: pointer;
		}

		ul {
			@include flex();

			li {
				margin-left: 5rem;
				font-size: 2rem;
				color: #fff;
				font-family: $Poppins;
				cursor: pointer;
				transition: all 0.2s ease-in-out;

				&.active {
					color: $han-purple;
					position: relative;
					font-weight: bold;
				}
			}
		}
	}
}

// Header End

.Main {
	height: 100vh;
	background-image: url('../asset/main_back.jpg');
	background-size: cover;
	@include flex();
	position: relative;

	.container {
		width: 130rem;
		margin: 0 auto;

		main {
			h2 {
				font-size: 5rem;
				text-align: center;
				color: #fff;
				line-height: 8rem;

				span {
					font-size: inherit;
					padding: 1rem;
					color: inherit;
					background-color: $han-purple;
					margin: 0 0.5rem;
					border-radius: 1rem;
				}
			}
		}
	}

	footer {
		position: absolute;
		bottom: 5%;

		p {
			font-size: 2rem;
			color: #fff;
			font-family: $Poppins;
		}
	}
}

// Main End

.About {
	.container {
		width: 130rem;
		margin: 0 auto;

		.about_box {
			margin-top: 10rem;
			@include flex();

			.about_left {
				width: 50%;
				@include tagBanner();

				div {
					margin-top: 1rem;
					position: relative;
					width: 50rem;
					height: 50rem;
					background-image: url('../asset/myMain.jpg');
					background-size: cover;
					border-radius: 2rem;

					h1 {
						position: absolute;
						top: 0;
						right: -10rem;
						font-size: 7rem;
						text-align: center;
						text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
					}
				}
			}

			.about_right {
				width: 50%;

				h2 {
					font-size: 4.4rem;
					font-weight: 100;

					span {
						background-color: $han-purple;
						padding: 1rem;
						color: #fff;
						font-weight: bold;
						letter-spacing: 0.05rem;
						border-radius: 1rem;
					}
				}

				div {
					margin-top: 10rem;
					h2 {
						font-size: 2.5rem;
						font-weight: bold;
						font-family: $Poppins;
					}

					p {
						font-size: 1.7rem;
						margin: 1rem 0;
						font-weight: 300;
					}
				}
			}
		}

		.about_message {
			margin-top: 10rem;

			.message_box {
				width: 80rem;
				background-color: #2ecc71;
				border-radius: 2rem;
				p {
					padding: 3rem;
					font-size: 2rem;
					color: #fff;
					font-weight: 100;
				}
			}
		}
	}
}

// About End

.Skill {
	background-color: $ghost-white;
	.container {
		width: 130rem;
		margin: 0 auto;

		.skill_header {
			margin-top: 10rem;
			@include flex();
			justify-content: space-between;
			@include tagBanner();

			button {
				font-size: 2.5rem;
				padding: 1rem;
				border: none;
				outline: none;
				border-radius: 1rem;
				background-color: #de3c4b;
				color: #fff;
				cursor: pointer;
			}
		}

		.skill_box {
			margin-top: 1rem;
			@include flex();
			justify-content: space-between;

			.skill_text {
				h3 {
					font-size: 2rem;
					font-family: $Poppins;
					margin: 3rem 0;
					padding: 2rem 3rem;
					text-align: center;
					background-color: $han-purple;
					border-radius: 1rem;
					color: #fff;
				}
			}

			.skill_per {
				div {
					@include flex();
					.per {
						@include flex();
						justify-content: flex-start;
						width: 100rem;
						height: 1rem;
						margin: 4.5rem;
						border-radius: 1rem;
						background-color: $light-gray;

						div {
							width: 9rem;
							height: 100%;
							background-color: #2ecc71;
							border-radius: 1rem;
							transition: all 0.3s ease-in-out;
						}
					}

					p {
						font-size: 1.5rem;
					}
				}
			}
		}
	}
}

// Skill End

.Project {
	height: 80vh;
	.container {
		width: 130rem;
		margin: 0 auto;

		.pro_header {
			margin-top: 10rem;
			@include tagBanner();

			p {
				font-size: 1.5rem;
				margin: 1rem 0;
				background-color: $han-purple;
				width: 10rem;
				text-align: center;
				padding: 2rem;
				color: #fff;
				font-weight: bold;
				border-radius: 1rem;
			}
		}

		.pro_main {
			width: 100%;

			.swiper-button-next,
			.swiper-button-prev {
				color: #fff;
				background-color: $han-purple;
				border-radius: 1rem;
				padding: 3rem;
			}

			.card_con {
				perspective: 45rem;
				height: 50rem;

				.card {
					width: 35rem;
					height: 45rem;
					border-radius: 2rem;
					margin-top: 2rem;
					filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
					cursor: pointer;
					backface-visibility: hidden;
					transition: all 0.5s ease-in-out;

					h1 {
						font-size: 2.5rem;
					}
				}

				.front {
					position: absolute;
					transform: rotateY(0deg);
				}

				.back {
					transform: rotateY(-180deg);
					@include flex();
					flex-direction: column;
					justify-content: space-between;

					.project_name {
						height: 15%;
						h1 {
							text-align: center;
							margin-top: 1rem;
							font-size: 2.5rem;
						}
					}

					.project_intro {
						height: 85%;
						@include flex();
						flex-direction: column;
						align-items: flex-start;

						p {
							font-size: 1.5rem;
							margin: 1rem 0rem;

							span {
								font-size: 1.5rem;
								padding-right: 2.5rem;
							}
						}
					}
				}

				&:hover .back {
					transform: rotateY(0deg);
					background-color: $lavender-web;
				}

				&:hover .front {
					transform: rotateY(180deg);
				}
			}

			.card1 {
				background-image: url('../asset/마인플루언서.jpg');
				background-size: cover;
			}

			.card2 {
				background-image: url('../asset/diary.jpg');
				background-size: cover;
			}

			.card3 {
				background-image: url('../asset/running.jpg');
				background-size: cover;
			}

			.card4 {
				background-image: url('../asset/신호등.jpg');
				background-size: cover;
			}

			.card5 {
				background-image: url('../asset/youtube.jpg');
				background-size: cover;
			}
			.card6 {
				background-image: url('../asset/form.jpg');
				background-size: cover;
			}
		}
	}
}

// Project End

.Contact {
	.container {
		width: 130rem;
		margin: 0 auto;
		@include tagBanner();

		.contact_message {
			width: 100%;
			background-color: #fff;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			height: 70vh;
			@include flex();
			flex-direction: column;
			border-radius: 1rem;

			.company_mes {
				width: 100%;
				@include flex();
				flex-direction: column;
				align-items: flex-end;
				margin: 2rem;

				h2 {
					font-size: 2.7rem;
					margin-right: 2rem;
				}

				div {
					p {
						margin-top: 3rem;
						margin-right: 5rem;
						padding: 3rem;
						background-color: #f39c12;
						font-size: 2rem;
						border-radius: 1rem;
						color: #fff;
						font-weight: 300;
					}
				}
			}

			.jihoo_mes {
				width: 100%;
				@include flex();
				flex-direction: column;
				align-items: flex-start;
				margin: 2rem;

				h2 {
					margin-top: 5rem;
					margin-left: 2rem;
					font-size: 2.7rem;
				}

				p {
					margin-top: 3rem;
					margin-left: 5rem;
					padding: 3rem;
					background-color: #2ecc71;
					font-size: 2rem;
					border-radius: 1rem;
					color: #fff;
				}
			}
		}

		.con_text {
			padding: 3rem;
			margin-top: 5rem;
			border-radius: 1rem;
			.con_main_text {
				h1 {
					font-size: 5rem;
				}

				div {
					width: 85rem;
					height: 1rem;
					margin: 1rem 0;
					border-radius: 1rem;
					background-color: $han-purple;
				}

				p {
					font-size: 2.5rem;
					padding: 3rem;
					width: 60%;
					color: #fff;
					font-weight: 100;
					border-radius: 1rem;
					background-color: $han-purple;
					margin: 5rem 0;

					span {
						font-size: 3rem;
						font-weight: bold;
						color: inherit;
					}
				}
			}
		}

		.phone_email {
			margin-top: 3rem;
			@include flex();
			justify-content: flex-start;

			p {
				font-size: 2rem;
				padding: 1.5rem;
				border-radius: 1rem;
				cursor: pointer;
				font-family: $Poppins;
				color: #fff;
				@include flex();
				margin-right: 2rem;
				background-color: #f39c12;
				span {
					img {
						width: 3rem;
					}
				}
			}
		}

		.link {
			margin: 3rem 0rem;
			ul {
				display: flex;
				justify-content: flex-end;
				align-items: center;

				li {
					a > img {
						width: 5rem;
						margin-left: 3rem;
						transition: all 0.3s ease-in-out;

						&:hover {
							transform: rotate(360deg);
						}
					}
				}
			}
		}
	}
}
